{% load static tailwind_tags django_htmx %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>PoZ - Book Me</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'scheduler/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'scheduler/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'scheduler/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'scheduler/site.webmanifest' %}">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# the above tags must come first in the head before anything else -#}
    <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        // set theme if not in localStorage
        localStorage.theme = 'dark';
        document.documentElement.classList.add('dark');
      } else {
        // set theme if not in localStorage
        localStorage.theme = 'light';
        document.documentElement.classList.remove('dark');
      }
    </script>
		{% tailwind_css %}
    {% block extrahead %}
    {% endblock %}
	</head>
	<body class="relative flex flex-col min-h-screen h-full bg-white transition-colors duration-1000 ease-in-out dark:bg-neutral-900">
    <header class="flex-none max-w-3xl mx-auto w-full px-4 border-b sm:px-6 lg:px-8 dark:border-gray-600">
      <div class="flex justify-between h-16">
        <div class="flex-shrink-0 flex items-center">
          <img src="{% static 'scheduler/android-chrome-512x512.png' %}" alt="logo" width="40" height="40" />
        </div>
        <div class="flex items-center" id="darkToggler">
        </div>
      </div>
    </header>
    <main class="flex flex-auto justify-center">
      <div class="w-full max-w-3xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="mb-4 sm:mb-6">
          <h2 class="text-2xl font-semibold tracking-tight text-gray-700 sm:text-3xl dark:text-gray-200">
            Book Me
          </h2>
        </div>
        {% if messages %}
          <div class="mb-6 space-y-2">
            {% for message in messages %}
              {% include 'partials/alert.html' %}
            {% endfor %}
          </div>
        {% endif %}
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <footer class="flex-none max-w-3xl mx-auto w-full px-4 py-4 border-t border-gray-200 sm:px-6 lg:px-8 dark:border-gray-600" aria-labelledby="footer-heading">
      <h2 id="footer-heading" class="sr-only">Footer</h2>
        <p class="text-center text-base text-gray-500 dark:text-gray-400">
          &copy; {% now 'Y' %} Pursuit of Zen
        </p>
    </footer>
    <script>
      const darkToggler = document.getElementById("darkToggler");
      let darkIcon = null;

      // create dark mode toggle handler
      function toggleDarkMode() {
        if (localStorage.theme === 'dark') {
          localStorage.theme = 'light';
          // remove `dark` class
          document.documentElement.classList.remove('dark');
        } else {
          localStorage.theme = 'dark';
          // add `dark` class
          document.documentElement.classList.add('dark');
        }
        applyDarkIcon();
      }

      function applyDarkIcon() {
        // fill darkToggler div with appropriate dark/light toggle icon
        if (localStorage.theme === 'dark') {
          darkToggler.innerHTML = `{% include 'partials/sun-toggle.html' %}`;
        } else {
          darkToggler.innerHTML = `{% include 'partials/moon-toggle.html' %}`;
        }

        // find dark icon button after applying the html
        darkIcon = darkToggler.getElementsByTagName("button")[0]
        darkIcon.addEventListener("click", toggleDarkMode);
      }

      applyDarkIcon();
    </script>
    {% django_htmx_script %}
    {% block extrascripts %}
    {% endblock %}
	</body>
</html>
