{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Book Me by PoZ</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'scheduler/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'scheduler/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'scheduler/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'scheduler/site.webmanifest' %}">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# the above tags must come first in the head before anything else -#}
    <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		{% tailwind_css %}
    {% block extrahead %}
    {% endblock %}
	</head>
	<body class="relative flex flex-col min-h-screen h-full bg-white transition-colors duration-1000 ease-in-out dark:bg-neutral-900">
    <main class="flex flex-auto justify-center">
      <div class="w-full max-w-3xl px-4 py-8 sm:px-6 lg:px-8">
        {% if messages %}
          <section>
            {% for message in messages %}
              {% include 'partials/alert.html' %}
            {% endfor %}
          </section>
        {% endif %}
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <footer class="flex-none max-w-3xl mx-auto px-4 py-4 sm:px-6 lg:px-8" aria-labelledby="footer-heading">
      <h2 id="footer-heading" class="sr-only">Footer</h2>
        <p class="text-center text-base text-gray-500">
          &copy; {% now 'Y' %} Pursuit of Zen
        </p>
    </footer>
    {%  block extrascripts %}
    {%  endblock %}
	</body>
</html>
