{% extends 'base.html' %}

{% block content %}
  <section class="max-w-sm w-full rounded-md border border-gray-200 text-gray-500 p-4 md:p-8 dark:text-gray-400 dark:border-gray-600">
    <div class="px-4 flex items-center justify-between leading-loose">
      <span class="text-lg font-medium text-gray-900 dark:text-gray-100">
        {{ current_date|date:"F Y"}}
      </span>
      <div class="flex items-center">
        <button class="text-lg text-gray-900 hover:text-gray-700 dark:text-gray-100 dark:hover:text-gray-300" aria-label="previous month">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
        </button>
        <button class="text-lg text-gray-900 hover:text-gray-700 dark:text-gray-100 dark:hover:text-gray-300" aria-label="next month">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex items-center justify-between pt-8 overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr>
            {% for day in weekdays%}
              <th>
                <div class="w-full flex justify-center">
                  <p class="text-base font-medium text-center text-gray-800 dark:text-gray-200">
                    {{ day }}
                  </p>
                </div>
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for week in calendar %}
            <tr>
              {% for day, availability in week %}
                <td>
                  <div class="px-2 py-2 flex w-full justify-center">
                    {% if day != 0 %}
                      <p class="text-base text-gray-500 dark:text-gray-400 font-medium">
                        {{ day }}
                      </p>
                    {% endif %}
                  </div>
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
